DEEPSEEK_API_KEY=
ZAI_API_KEY=
ZAI_BASE_URL=https://api.z.ai/api/paas/v4
MINDCRAFT_PROFILE=./profiles/deepseek.json
MINECRAFT_HOST=host.docker.internal
MINECRAFT_PORT=55916
MINDSERVER_PORT=8080
ALLOW_VISION=false
RENDER_BOT_VIEW=false
